a.row {
    /*display: inline-block;*/

    /*border: 1px solid black;*/
    text-align: center;
    height: auto;
    overflow: hidden;
}

/*div .row{
  display: inline-block;
}*/

.col {
    padding: 15px 10px 15px 10px;
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
}

.no-border {
    border: 0px solid black;
}

.column {
    float: left;
    width: 20%;
}

#app {
    margin-left: 20px;
    margin-right: 20px;
}

p {
    height: 2px;
}

body {
    font-size: 14px;
    background-color: rgb(255, 200, 255);
}

.stats {
    text-align: center;
}

h4 {
    display: inline;
}
