.col, .col-3 {
    padding-right: 3px;
    padding-left: 3px;
}

.inner, .col {
    padding: auto;
    border: 1px solid black;
    margin: 5px 2px 5px 2px;
    overflow: hidden;
}

.shadow, .inner {
    box-shadow: 2px 2px 1px 2px #888888;
}

.no-border {
    border: 0px solid black;
}

#app {
    margin-left: 20px;
    margin-right: 20px;
}

p {
    height: 2px;
}

body {
    font-size: 14px;
    background-color: #06d3ff;
    text-align: center;
}

h6 {
    display: inline;
}

.spinner {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .6) url('pleasewait.gif') 50% 50% no-repeat;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .spinner {
    display: block;
}